h1 {
      color:green);
    }



/*body {
   background-image: url("fondo.png");
   background-size: cover;
}
*/
table{
   background-image: linear-gradient(135deg, #c24d17 0, #c3c3c4 50%, #0059db 100%);;
}
 body{
   background-image: linear-gradient(135deg,#0059db  0, #c3c3c4 50%,  #c24d17 100%);;
 }